*{
padding: 0;
margin: 0;
}


body { background-color: #F0E4C8;
}
#logoImg {
margin-top: 1%;
margin-left: 1%;
width: 72%;
height: 19%;
}
#pageImg{
    
    max-width: 10%;
    height: 19%;
    display: inline-flex;
}
img{
    max-width: 50%;
    height: auto;
}

h1 {
font-weight: bolder;
font-size: 60px;
display: inline-flex;
margin-left: 32%;

}

#middle-section{
margin-top: 1%;
justify-content: center;
margin-left: 5%;

}
.table-scroll {
    width: 500px;
    height: 200px;
    overflow: scroll;
  }
  table,th,td{
    border: 1px solid #000;
    text-align: center;
}

th{
    width:fit-content;
    font-weight: bold;
    background-color: coral;
    padding: 10px;
    font-size: 18px;
    font-family: system-ui;

    
}

td{ 
background-color: peachpuff;
padding: 20px;
font-family: system-ui;
font-size: 15px;
}

button {
border: none;
color: black;
padding: 10px;
text-align: center;
font-weight: bolder;
font-size: 15px;
border-radius: 30px;
cursor: pointer;
transition: opacity 0.15s, box-shadow 0.15s;
}
#buttons{
display: flex;
}
.backButton{

background-color:firebrick;
}
button:hover{
opacity: 0.8;
border-color: rgba(12,5,10,0.29);
box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
button:active{
opacity: 0.7;
}

#end-section{
margin-top: 5%;
margin-left: 5%;
justify-content: center;
}
