doctype html
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
head
  meta(charset='UTF-8')
  title About Us
  link(rel='stylesheet' href='CSS/AboutUsPage.css')
header
  h1 About Us
nav
  img.logoImg(src='Graphics/logoPic1.png' alt='')
  .icon-bar
    a(href='http://localhost:3000/HomePage')
      i.fa.fa-home
    a(href='http://localhost:3000/DegreesSearchPage')
      i.fa.fa-search
    a(href='http://localhost:3000/RanksPage')
      i.fa.fa-star
    a(href='http://localhost:3000/MyProfilePage')
      i.fa.fa-user
    a.active(href='http://localhost:3000/AboutUsPage')
      i.fa.fa-book
    a(href='http://localhost:3000/LoginPage')
      i.fa.fa-key
main
  p Hello and welcome to LearnWhere website. 
  p
    | The site was established in December 2022 to help people find their next degree.
    | The need arose from the multitude of educational institutions that exist in the country and the confusion created among those people who want to start through them in academia.
  h3 On our website you can find some interesting things:
  p
    | The degree search page - you can search for any degree you want and we will show you all the important details about where you can study it, cost, prerequisites and many other things.
  p
    | The rankings page - on this page you can find the ranking of each degree in the various educational institutions. You can choose according to which index you want to display the data from among the various indices we found.
  p
    | Personal profile page - the user will be able to see the personal details and update them with information and will. In addition, he will be able to use certain indices to rank his degree (on prestige index, quality of lecturers, satisfaction, social index). The rating of all users affects the general rating of a certain degree in an organized academic institution.
  p Thank you for using our site and we hope we can help as much as possible.
  h4 Good luck with your next degree!
aside
  img#aboutUsPic(src='Graphics/aboutUsPic.png' alt='')
